@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* this defines what 1 rem should be, so this is not typography
    10px/16px 0.625
    1rem will be 10px */
    font-size: 62.5%;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: wheat;
}

/* loader */

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(255, 255, 255, 0.8);
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}